<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Email Template</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <img src="http://collectionmanagementwebproject20180806125003.azurewebsites.net//RobustTheme/app-assets/images/Header_Logo.jpg" width="150px" height="60px" />
                <br />
                <br />
                <div style="border-top:3px solid #22BCE5"> </div>
                <br />
                <span style="font-family:Arial;font-size:10pt">

                    Hello <b>{UserName}</b>,<br /><br />
                    Thank you for registering with us!
                    <br /><br />
                    <a style="color:#22BCE5" href="http://collectionmanagementwebproject20180806125003.azurewebsites.net/">Click Here to Login</a><br /><br />

                    Your Unique Transaction Number is : <br />{txnId}
                    <br /><br />
                    Regards,
                    <br /><br />
                    Team Believe It
                </span>
            </td>
        </tr>
    </table>
</body>
</html> 