
@{
    ViewBag.Title = "Collection Center";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}


<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-9">
                <div class="alert alert-info mb-2" role="alert" style="display:none">
                    <strong><span id="customMsg"></span></strong>
                </div>
                <div class="card" id="div-txnid">
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-body">
                                <h4 class="form-section"><i class="icon-head"></i> Collection Details</h4>  <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput5">Enter Unique Transaction Id</label>
                                            @Html.Editor("TransactionId", new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Transaction Id" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">                                 
                                    <button type="button" class="btn btn-primary" id="btn-GetData">
                                        <i class="icon-data"></i> Get Transaction
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="div-txnData" style="display:none">                   
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script src="~/Scripts/CustomScripts/CollectionCenter.js"></script>
}